[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.0.11"
djangorestframework = "*"
drf-yasg = "*"
django-cors-headers = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
cfenv = "*"
cg-django-uaa = "*"
whitenoise = "*"
gunicorn = "*"
gevent = "*"
coreapi = "*"
pyyaml = ">=5.1b3"

[dev-packages]
pytest = "*"
flake8 = "*"
factory-boy = "*"
django-debug-toolbar = "*"
yapf = "*"
pytest-django = "*"
django-dynamic-fixture = "*"
bandit = "*"
codecov = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.6"

[scripts]
collectstatic = "python manage.py collectstatic"
develop = "python manage.py runserver --insecure"
format = "yapf -r -i medicare_appeals"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
security = "bandit -r ."
showmigrations = "python manage.py showmigrations"
test = "pytest -s --cov=medicare_appeals"
