body {
    margin: 0;
    padding: 0;
}

img,
video {
    max-width: 100%;
}

.c-header__title {
    color: #fff;
    text-decoration: none;
}

.c-header__title:hover {
    color: #fff;
    opacity: 0.9;
}

.c-header__title:focus {
    color: #fff;
    opacity: 0.9;
    outline: #4b4b4d;
}

.banner-pattern {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.banner-background {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 79%,rgba(255,255,255,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 79%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=1 );
}

@media (min-width:0px) {
    .ds-u-font-size--tiny {
        font-size: 7px
    }
}

@media (min-width:544px) {
    .ds-u-font-size--tiny {
        font-size: 8px
    }
}

@media (min-width:768px) {
    .ds-u-font-size--tiny {
        font-size: 9px
    }
}

@media (min-width: 1024) {
    .ds-u-font-size--tiny {
        font-size: 11px
    }
}

@media (min-width: 1280) {
    .ds-u-font-size--tiny {
        font-size: 12px
    }
}

@media (min-width: 0px) {
    .show-small { display: block; }
}

@media (min-width: 606px) {
    .show-small { display: none; }
}
