{% block alert %}
  <div class="ds-l-row ds-u-padding-top--3 ds-u-padding-bottom--6 ds-u-padding-x--1">
    <div class="ds-c-alert">
      <div class="ds-c-alert__body">
        <p class="ds-c-alert__text">
          The dashboard is powered with sample data from MAS, ECAPE and MOD-ACTS and reflects a small subset of appeals received
          from April 2012 to May 2019. The data is <strong>ANONYMIZED</strong> to protect appeal, appellant, and provider information.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
