{% block dashboardtabs %}
    <div class="ds-l-row ds-u-padding-x--1">
        <div class="ds-u-border-bottom--2">
            <div class="ds-c-tabs" role="tablist" aria-label="overview-reports-tabs">
                <a
                    class="ds-c-tabs__item"
                    href="/dashboard/"
                    role="tab"
                    {% if request.path == "/dashboard/" %}
                        aria-selected="true"
                    {% else %}
                        aria-selected="false"
                    {% endif %}
                    aria-controls="overview-tab"
                    id="tab-overview"
                >
                    Overview
                </a>
                <a
                    class="ds-c-tabs__item"
                    href="/reports/"
                    role="tab"
                    {% if request.path == "/reports/" %}
                        aria-selected="true"
                    {% else %}
                        aria-selected="false"
                    {% endif %}
                    aria-controls="reports-tab"
                    id="tab-reports"
                >
                    Reports
                </a>
            </div>
        </div>
    </div>
{% endblock %}
