{% block footer %}
    <footer class="ds-u-fill--primary-alt-lightest ds-u-padding-y--6 ds-u-md-padding-bottom--3">
        <div class="ds-u-padding-x--3 ds-u-margin-x--0">
            <div class="ds-l-row">
                <article class="ds-l-col--12 ds-l-lg-col--4 ds-u-margin-bottom--4">
                    <h2 class="ds-h4">Find an issue or have a feature&nbsp;request?</h2>
                    <a class="ds-c-button ds-c-button--primary" href="https://github.com/18F/medicare-appeals-prototyping/issues" target="_blank" rel="noopener noreferrer">Ask questions on GitHub</a>
                    <p class="ds-text ds-u-color--primary-darkest ds-u-font-size--small ds-u-margin-top--3 ds-u-measure--base">
                        A federal government website developed by <a href='https://18f.gsa.gov' target="_blank" rel="noopener noreferrer">18F</a> in association with <a href="https://hhs.gov" target="_blank" rel="noopener noreferrer">U.S. Department of Health & Human Services.</a>
                    </p>
                </article>
                <article class="ds-l-col--12 ds-l-sm-col--6 ds-l-lg-col--4 ds-u-margin-bottom--4">
                    <h2 class="ds-h4">CMS &amp; HHS Websites</h2>
                    <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
                        <li><a href="http://www.cms.gov" target="_blank" rel="noopener noreferrer">CMS.gov</a></li>
                        <li><a href="http://www.medicare.gov" target="_blank" rel="noopener noreferrer">Medicare.gov</a></li>
                        <li><a href="http://www.mymedicare.gov" target="_blank" rel="noopener noreferrer">MyMedicare.gov</a></li>
                        <li><a href="http://www.medicaid.gov" target="_blank" rel="noopener noreferrer">Medicaid.gov</a></li>
                        <li><a href="http://www.healthcare.gov" target="_blank" rel="noopener noreferrer">HealthCare.gov</a></li>
                        <li><a href="http://www.HHS.gov/open" target="_blank" rel="noopener noreferrer">HHS.gov</a></li>
                    </ul>
                </article>
                <article class="ds-l-col--12 ds-l-sm-col--6 ds-l-lg-col--4 ds-u-margin-bottom--4">
                    <h2 class="ds-h4">Additional resources</h2>
                    <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
                        <li><a href="https://standards.usa.gov/" target="_blank" rel="noopener noreferrer">U.S. Web Design Standards</a></li>
                        <li><a href="http://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/FOIA.html" target="_blank" rel="noopener noreferrer">Freedom of Information Act</a></li>
                        <li><a href="https://oig.hhs.gov/" target="_blank" rel="noopener noreferrer">Inspector General</a></li>
                        <li><a href="http://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/NoFearAct.html" target="_blank" rel="noopener noreferrer">No Fear Act</a></li>
                        <li><a href="http://www.medicare.gov/about-us/plain-writing/plain-writing.html" target="_blank" rel="noopener noreferrer">Plain Writing</a></li>
                        <li><a href="http://www.usa.gov" target="_blank" rel="noopener noreferrer">USA.gov</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </footer>
{% endblock %}
