{% block graphcolumntotals %}
    <div class="ds-l-row">
        <div class="ds-u-margin-y--2 ds-u-padding-y--3 ds-u-border-right--1 ds-l-sm-col--12 ds-l-md-col--6 ds-l-lg-col--3 ds-l-xl-col--3">
            <h4 class="ds-u-margin--0 ds-u-text-align--center">Level 1</h4>
            <h1 class="ds-display ds-u-text-align--center ds-u-color--error">-8000</h1>
        </div>
        <div class="ds-u-margin-y--2 ds-u-padding-y--3 ds-u-border-right--1 ds-l-sm-col--12 ds-l-md-col--6 ds-l-lg-col--3 ds-l-xl-col--3">
            <h4 class="ds-u-margin--0 ds-u-text-align--center">Level 2</h4>
            <h1 class="ds-display ds-u-text-align--center">1000</h1>
        </div>
        <div class="ds-u-margin-y--2 ds-u-padding-y--3 ds-u-border-right--1 ds-l-sm-col--12 ds-l-md-col--6 ds-l-lg-col--3 ds-l-xl-col--3">
            <h4 class="ds-u-margin--0 ds-u-text-align--center">Level 3</h4>
            <h1 class="ds-display ds-u-text-align--center ds-u-color--error">-18000</h1>
        </div>
        <div class="ds-u-margin-y--2 ds-u-padding-y--3 ds-l-sm-col--12 ds-l-md-col--6 ds-l-lg-col--3 ds-l-xl-col--3">
            <h4 class="ds-u-margin--0 ds-u-text-align--center">Level 4</h4>
            <h1 class="ds-display ds-u-text-align--center">500</h1>
        </div>
    </div>
{% endblock %}
