{% block graphcardhalf %}
    <div class="ds-u-padding--1 ds-l-sm-col--12 ds-l-md-col--6 ds-l-lg-col--6 ds-l-xl-col--6">
        <div style="height: 100%" class="ds-u-padding--1 ds-u-border-bottom--2 ds-u-fill--white">
            <div class="ds-u-border-bottom--1 ds-u-padding-x--1">
                <h3 class="ds-u-margin--0 ds-u-padding-top--1">{{ card_title }}</h3>
            </div>
            <div style="height:340px" class="ds-l-row ds-u-margin--1 ds-u-padding--1 {{ fill|default:"ds-u-fill--white" }}" id={{ card_title|slugify }}>
            </div>
        </div>
    </div>
{% endblock %}
