{% extends "layouts/base.html" %}

{% block bgcolor %}ds-u-fill--gray-lightest{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% include "components/alert.html" %}
  {% include "components/dashboard-tabs.html" %}
  <div class="ds-l-row ds-u-padding-y--1">
    {% include "components/graph-card-half.html" with card_title="New receipts by HHS Level" fill="ds-u-fill--gold" %}
    {% include "components/graph-card-half.html" with card_title="Dispositions by HHS Level" fill="ds-u-fill--primary-alt" %}
  </div>
  <div class="ds-l-row ds-u-padding-y--1">
    {% include "components/graph-card-half.html" with card_title="Work in progress by HHS Level" fill="ds-u-fill--gray-light" %}
  </div>
  <div class="ds-l-row ds-u-padding-y--1">
    {% include "components/graph-card-full.html" with card_title="Net receipts total" included="components/graph-column-totals.html" %}
  </div>
  <div class="ds-l-row ds-u-padding-y--1">
    {% include "components/graph-card-full.html" with card_title="Average processing time" fill="ds-u-fill--secondary-lightest" %}
  </div>
  <div class="ds-l-row ds-u-padding-y--1">
    {% include "components/graph-card-full.html" with card_title="Total overturn rate" included="components/graph-column-totals.html" %}
  </div>
{% endblock %}
