{% extends "layouts/base.html" %}

{% block bgcolor %}ds-u-fill--gray-lightest{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block containerclass %}{% endblock %}

{% block content %}
<div class="ds-l-row ds-l-container ds-u-padding--0 ds-u-margin--0">
  {% include "components/navbar.html" %}
  <div class="ds-l-md-col--10 ds-l-lg-col--10 ds-u-padding-bottom--3">
    {% include "components/alert.html" %}
    {% include "components/dashboard-tabs.html" %}
    {% include "components/date-range.html" %}
    <div class="ds-l-row ds-u-padding-y--1">
      {% include "components/graph-card-half.html" with card_title="New Receipts by HHS Level" card_description="New appeals received during a specified timespan" %}
      {% include "components/graph-card-half.html" with card_title="Dispositions by HHS Level" card_description="Appeals closed or removed from the appeals process during a specified timespan" %}
    </div>
    <div class="ds-l-row ds-u-padding-y--1">
      {% include "components/graph-card-half.html" with card_title="Work in Progress by HHS Level" card_description="Appeals that were open at a specified point in time" %}
    </div>
    <div class="ds-l-row ds-u-padding-y--1">
      {% include "components/graph-card-full.html" with card_title="Net Receipts by level" card_description="New Receipts less dispositions during a specified timespan" %}
    </div>
    <div class="ds-l-row ds-u-padding-y--1">
      {% include "components/graph-card-full.html" with card_title="Average Processing Time" card_description="The average number of days from appeal receipt to appeal disposition during a specified timespan" %}
    </div>
    <div class="ds-l-row ds-u-padding-y--1">
      {% include "components/graph-card-full.html" with card_title="Decision/Dismissal Record and Total Overturn Rate" card_description="Record of favorable, partially favorable, and unfavorable decisions, dismissals, and their relation to total decisions and dismissals during a specified timespan. Overturn Rate (without dismissals) is represented by favorable and partially favorable decisions/all favorable, partially favorable, and unfavorable decisions during a specified timespan. Overturn Rate (with dismissals) is represented by favorable and partially favorable decisions/all favorable, partially favorable, and unfavorable decisions and dismissals during a specified timespan." %}
    </div>
  </div>
</div>
  {% load static %}
  <script src="{% static 'Build.dashboard.js' %}"></script>
  <script>
    {% autoescape off %}
      var data = {{ data }};
    {% endautoescape %}
    window.addEventListener('load', function() {
      Build.dashboard.default.dashboard(data)
    });
  </script>

{% endblock %}
