{% extends "layouts/base.html" %}

{% block bgcolor %}ds-u-fill--gray-lightest{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block containerclass %}{% endblock %}

{% block content %}
<div class="ds-l-row ds-l-container ds-u-padding--0 ds-u-margin--0">
    {% include "components/navbar.html" %}
    <div class="ds-l-md-col--10 ds-l-lg-col--10 ds-u-padding-bottom--3">
        {% include "components/alert.html" %}
        {% include "components/dashboard-tabs.html" %}
        <div class="ds-l-row ds-u-padding-y--1">
        {% include "components/graph-card-half.html" with card_title="New receipt report" card_description="The new receipts report over a timespan" %}
        {% include "components/graph-card-half.html" with card_title="Dispositions report" card_description="The disposition report over a timespan" %}
        </div>
        <div class="ds-l-row ds-u-padding-y--1">
        {% include "components/graph-card-full.html" with card_title="Pending number of reports" card_description="The pending appeals report over a timespan" fill="ds-u-fill--green" %}
        </div>
        <div class="ds-l-row ds-u-padding-y--1">
        {% include "components/graph-card-half.html" with card_title="Net appeal report" card_description="The net appeals report over a timespan" %}
        {% include "components/graph-card-half.html" with card_title="RAC report" card_description="The RAC report over a timespan" %}
        </div>
    </div>
</div>
  {% load static %}
  <script src="{% static 'Build.reports.js' %}"></script>
  <script>
    window.addEventListener('load', function() {
      Build.reports.default.reports()
    });
  </script>
{% endblock %}
