<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
      {% block title%} Medicare Appeals Prototype {% endblock %}
  </title>
  <meta name="description" content="Medicare Appeals Prototype">
  {% block viewport_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
  {% block extra_meta %}{% endblock extra_meta %}

  {% load static %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'core.css' %}">
  <link rel="stylesheet" href="{% static 'layout.css' %}">
  <link rel="stylesheet" href="{% static 'base.css' %}">

  {% block canonical %}
    <link rel="canonical" href="{{ current_path }}">
  {% endblock %}

  {% block feeds %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}default{% endblock %}" class="ds-base {% block bgcolor %}{% endblock %}">
  {% include "components/header.html" %}

  <div class="{% block containerclass %}ds-l-container{% endblock %}">
    <main>{% block content %}{% endblock %}</main>
  </div>

  {% include "components/footer.html" %}

  {% block app_js %}{% endblock %}
</body>
</html>
